html,
body {
	font-family: 'Open Sans', sans-serif;
	background: #eee;
	color: #444;
}

h3 {
	margin-bottom: 15px;
}

h4 {
	margin-bottom: 10px;
}

#match-detail table th {
	width: 9em;
}

.ar_rank {
    width: 20px;
}

#ar_header,
#ar_content,
#ar_footer {
	margin-top: 30px;
	padding: 20px 20px 0 20px;
}

#ar_header {
	background-position: right 50%;
	background-repeat: no-repeat;
}

#ar_content {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
}

#ar_footer {
	color: #999;
	text-align: center;
}

input[type=checkbox].player-toggle {
	margin-right: 3px;
}

.player:before,
.block:before,
.item:before {
	display: inline-block;
	content: "";
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
}

.referee { font-weight: bold; }

#match-details .player {
	color: black !important;
}

.team, .block { font-weight: bold; }

.teammembers li {
	margin-bottom: 5px;
}

#event-filter {
	float: right;
}

canvas#maptip {
	display: none;
	position: absolute;

	border: 1px solid black;
	background-color: #333;
	z-index: 999;

	-moz-border-radius: 10px;
	border-radius: 10px;
}
