html,
body {
	font-family: 'Open Sans', sans-serif;
	background: #eee;
	color: #444;
}

h3 {
	margin-bottom: 15px;
}

h4 {
	margin-bottom: 10px;
}

.ar_rank {
    width: 20px;
}

#ar_header,
#ar_content,
#ar_footer {
	margin-top: 30px;
	padding: 20px 20px 0 20px;
}

#ar_content {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
}

#ar_footer {
	color: #999;
	text-align: center;
}

.player:before,
.block:before,
.item:before {
	display: inline-block;
	content: "";
	vertical-align: text-bottom;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-repeat: no-repeat;
}

#match-details .player {
	color: black !important;
}

.team, .block { font-weight: bold; }

.teammembers li {
	margin-bottom: 5px;
}
